/* Font Code */
@font-face {
    font-family: "classicFFFont";
    src: url("fonts/FinalFantasyFont.woff") format('woff');
}

body{
    background-image:url('ClassicARRWallpaper.webp');
    background-size: cover;
}

/* CSS Styling for the Input and Autocomplete */
.autocomplete{
    position: relative;
    display: inline-block;
}
input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
}
input[type=text] {
    background-color: #f1f1f1;
    width: 100%;
}
.autocomplete-items{
    position: absolute;
    border: 1px solid #d4d4d4;
    border-top: none;
    border-bottom: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
}
.autocomplete-items div{
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}
.autcomplete-items div:hover {
    /*Change color when hovering item*/
    background-color: #e9e9e9;
}
.autocomplete-active {
    /* For when navigating autocomplete with arrow keys */
    background-color: dodgerblue !important;
    color: #ffffff;
}

/* CSS Styling for the Lives Counter*/
.lives-counter{
    text-align: center;
    justify-content: center;
    font-size: 40px;
    font-weight: 900;
    color:#191919;
    -webkit-text-stroke: .5px #8e7141;
    font-family: classicFFFont;
    letter-spacing: .2rem;
}

/* CSS Styling for the Guess Table */
.group-guesses {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.guess-table {
    table-layout: fixed;
    background-color: transparent;
    background: transparent;
    margin: 25px 0;
    padding: 15px;
    font-size: 0.9em;
    font-family: sans-serif;
    width: 75%;
    min-width: 400px;


    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.guess-table thead th{
    background-color: #191919;
    color: #f5f5f5;
    border: 3px solid #8e7141;
    border-radius: 0.5rem !important;
    text-align: center;
    text-shadow: 1px 1px 1px black;
}

.guess-table th,
.guess-table td {
    padding: 12px 15px;
}

/* Style Rules for Answer Data Point Cells */
.answerCell{
    margin: 0px 10px 0px 10px;
    position: relative;
    border: 2px solid #8e7141;
    background-color: transparent;
    box-sizing: border-box;
    border-radius: 0.5rem !important;
    white-space: pre;
    margin: 1px;
    color: #fecd62;

    text-shadow: 1px 1px 2px black;
    text-align: center;

    align-items: center;
    justify-items: center;
}

.correctAnswerCell{
    background: radial-gradient(#0d5e04, #59c402);
}

.incorrectAnswerCell{
    background: radial-gradient(#592421, #9b423d)
}

.incorrectCloseAnswerCell{
    background: radial-gradient(#8f6d07, #dba400)
}

.answerRow{
    padding: 1px;
    background-color: #303030;
}